<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bolsa del Trabajo Universitaria | BTU </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @*<link href="~/Icons/fontawesome-free-5.13.0-web/css/all.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link href="~/DataTables/DataTables-1.10.20/css/jquery.dataTables.css" rel="stylesheet" />
</head>
<body class="py-0" ng-app="BtuWeb" ng-controller="BtuController as ctrl">



    <nav class="navbar navbar-expand-lg navbar-light " style="background-color:#1f84cc">
        <a class="navbar-brand" href="#"><img src="~/Imagenes/ImagenesSitio/BTU.png" height="70" width="300" alt="" loading="lazy"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    @*<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>*@
                </li>
                <li class="nav-item">
                    @*<a class="nav-link" href="#">Features</a>*@
                </li>
                <li class="nav-item">
                    @*<a class="nav-link" href="#">Pricing</a>*@
                </li>
                <li class="nav-item dropdown" style="cursor:pointer">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Datos de Sesion
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background-color:#1f84cc">
                        @*<a class="dropdown-item" href="#">Usuario: {{ctrl.lyusuario}}</a>*@
                        <a class="dropdown-item" href="#">Usuario {{ctrl.lycorreo}} </a>
                        <a class="dropdown-item alert-danger" ng-click="ctrl.CerrarSesion()">Cerrar Sesion</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div>
        @RenderBody()

    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="~/DataTables/datatables.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-pagination.js"></script>
    <script src="~/Scripts/angular-animate.js"></script>
    <script src="~/Scripts/global.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/Models/BtuModel.js"></script>
    <script src="~/Scripts/Controllers/BtuController.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
</body>
</html>
