<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bolsa del Trabajo Universitaria | BTU </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")



    @*<link href="~/Icons/fontawesome-free-5.13.0-web/css/all.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link href="~/DataTables/DataTables-1.10.20/css/jquery.dataTables.css" rel="stylesheet" />
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body class="py-0">

    <nav class="navbar navbar-light">
        <a><img src="~/Imagenes/ImagenesSitio/Encabezado_btu.jpg" style="max-width:100%" /></a>
    </nav>    
    @*<nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
            </div>
        </nav>*@
    <div ng-app="BtuWeb" ng-controller="BtuController as ctrl">
        @RenderBody()
        <hr />
    </div>

    <footer>
        <img src="~/Imagenes/ImagenesSitio/Pie_btu.jpg" style="max-width:100%" />
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="~/DataTables/datatables.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/global.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/Models/BtuModel.js?002"></script>
    <script src="~/Scripts/Controllers/BtuController.js?002"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
</body>
</html>
